body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Kanit', sans-serif;
  background: #222;
  background-image: url("https://source.unsplash.com/1600x900/?dark-nature");
font-size: 120%;
}

.card {
  background: #000000d0;
  color: white;
  padding: 2em;
  border-radius: 30px;
  width: 50%;
  max-width: 100%;
  margin: 1em;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  margin: 0.5em;
  border-radius: 35%;
  height: 2.5em;
  border: none;
  width: 2.5em;
  background: #7c7c7c2b;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input.search-bar {
  border: none;
  outline: red;
  padding: 0.5em 1em;
  border-radius: 18px;
  background: #7c7c7c2b;
  font-family: inherit;
  font-size: 120%;
  color: white;
}

button:hover {
  background: #7c7c7c6b;
}
h1.temp{
  margin: 0;
  max-height: 20px;
  position: relative;
  /* align-items: center; */
}
.weather.loading{
  visibility: hidden;
}
.weather.loading::after
{
  visibility: visible;
  /* content:"Loading... "; */
  color:white;
  position: absolute;
  top:0;
}
